<?xml version="1.0" encoding="UTF-8"?>

<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:aop="http://www.springframework.org/schema/aop"
	xmlns:context="http://www.springframework.org/schema/context"
	xsi:schemaLocation="http://www.springframework.org/schema/beans   http://www.springframework.org/schema/beans/spring-beans.xsd
						http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd
						http://www.springframework.org/schema/aop 	  http://www.springframework.org/schema/aop/spring-aop.xsd"
	default-init-method="myInit" default-destroy-method="myDestroy">

	<aop:aspectj-autoproxy />
	
	<bean name="triangle" class="com.troy.spring.test.Triangle">
		<property name="name" value="Triangle name" />
	</bean>

	<bean  name="circle" class="com.troy.spring.test.Circle">
		<property name="name" value="Circle name" />
	</bean>

	<bean name="shapeService" class="com.troy.spring.test.ShapeService" autowire="byName" />
	
	<bean name="loggingAspect" class="com.troy.spring.test.aspect.LoggingAspect" />
	
</beans>